<!-- Titulo -->
    <div class="container-xl">
        <div id="contenedor">
            <div class="titulo c1"><a href="index.html">HOLA</a></div>
            <div class="titulo c2"><a href="index.html">YO SOY</a></div>
            <div class="titulo c3"><a href="index.html">AGUSTIN</a></div>
        </div>

    <!-- Imgaen -->
        <div class="container-fluid">
            <div class="bg-photo">
                <img src="assets/img/portafolio.png" alt="imgaen">
            </div>
        </div>
    </div>
